<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake URL shortener</title>
    <link rel="stylesheet" href="/index.css">
    <!-- <link rel="stylesheet" href="../public/index.css"> -->
    
</head>

<body>
    <form action="" method="post">
        <div id="box">
            <div id="url">
                <h1>Create your custom link</h1>
                <div id="input-container">
                    <input type="text" name="url" class="field" id="input-url" placeholder="Paste here your long url" pattern="(?:https?):\/\/[a-z0-9_-]+\.\w+.*">
                    <br>
                    <input type="text" name="custom" class="field" id="shortened" placeholder="custom url (optional)">
                    <br>
                    <input type="submit" id="create" value="Short it">
                </div>
                <h1 id="urlCustom" onclick="copyUrl()">
                    Click to copy <br>
                    <%=result%>
                </h1>
            </div>
        </div>
    </form>
    <br><br>
    <footer>
        <p>
            Author: <a href="https://github.com/Choco02/cake-url-shortener" target="_blank"> Choco02 </a>
            <br><br>
        </p>
    </footer>
    <script src="/index.js"></script>
    <!-- <script src="../public/index.js"></script> -->
</body>

</html>