body {
    /* background-color: #cd87ff; */
    /* background-color: #28b5f4; */
    background-color: #A258F7;
    font-family: monospace;
    font-family: 'Indie Flower';

}

#url {
    text-align: center;
    margin-top: 10vh;
}

#container {
    display: flex;
    flex-direction: column;
}

.field {
    width: 40vw;
    flex-grow: 4;
}

#result {
    text-align: center;
    margin-top: 200px;
    font-size: 3vw;
}

#urlCustom {
    font-family: monospace;
}