* {
    font-family: monospace;
}

body {
    /* background-color: #cd87ff; */
    /* background-color: #28b5f4; */
    /* background-color: #A258F7; */

    /* background: rgb(65,87,147); */
    background-image: url("galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

#box {
    text-align: center;
    display: flex;
    justify-content: center;
}

#url {
    text-align: center;
    margin-top: 3vh;
    /* box-shadow: 0 0 0 2px white; */
    width: 50vw;
    height: 60vh;
    background-color: rgb(20, 19, 19);
}

#container {
    display: flex;
    flex-direction: column;
}

.field {
    width: 35vw;
    height: 5vh;
    font-size: 2vh;
    flex-grow: 4;
    /* box-shadow: 0 0 0 2px white; */
}

#urlCustom {
    margin: auto auto 20vh;
}

input {
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none; 
}

::placeholder {
    opacity: .7;
    color: black;
}

input:focus {
    box-shadow: 0 0 0 3px rgb(245, 218, 218);
}

#input-url {
    margin-top: 5vh;
    background: #09e2ff;
    margin-bottom: 20px
}

#input-url:hover {
    background: white;
}

#shortened {
    background: #09e2ff
}

#shortened:hover {
    background: white;
}

#create {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25vw;
    height: 5vh;
    font-size: 3vh;
}

#create:hover {
    background: black;
    color: white;
    box-shadow: 0 0 0 1px white;
}

footer {
    margin-top: 20vh;
    font-size: 20px;
    font-family: monospace;
}

a {
    color: rgb(7, 143, 255);
}